.comments {
  margin-bottom: 50px;
}

.comment {
  margin-top: 10px;
}

.comment p {
  margin: 0px;
}

.comment h5 {
  margin: 0px 10px 0px 0px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.comments button {
  font-size: 12px;
  padding: 4px;
  margin-right: 10px;
}

.comments input[type="text"] {
  padding: 4px;
  width: 150px;
}

.comments input[type="submit"] {
  border: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px;
  cursor: pointer;
  width: fit-content;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.delete-comments-btn {
  margin-top: 20px;
}

#auth {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#auth button {
  margin-left: 20px;
}

#add-comment-form {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
}
