@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

#content {
  font-family: 'Lato', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#image-viewer img {
  display: none;
  height: 360px;
  margin: auto;
  width: auto;
}

#image-viewer .visible {
  display: block;
}

#image-viewer .buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 0px auto;
  width: 120px;
}

.image-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline-image {
  height: 360px;
  width: auto;
  margin: auto
}